<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>edebitdirect</name>
	<displayName><![CDATA[edebit direct payment gateway]]></displayName>
	<version><![CDATA[1.0.0]]></version>
	<description><![CDATA[edebit direct payment gateway for prestashop]]></description>
	<author><![CDATA[Taoufiq Ait Ali]]></author>
	<tab><![CDATA[payments_gateways]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
